@use './../colors.scss' as *;

.iphone {
  // Disable text selection
  user-select: none;
  position: relative;
  margin: 40px auto;
  width: 360px;
  height: 780px;
  background-color: $color-screen-off;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px $color-screen-border, 0px 0px 0px 13px $color-screen-drop, 0px 0px 0px 20px $color-iphone-border;

  &--vibrate {
    animation: vibrate;
    animation-duration: .05s;
    animation-iteration-count: infinite;
  }

  &--theme-dark {
    color: #ececec;
  }
  
  &:before,
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  // notch
  &:before {
    z-index: 1000;
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: $color-screen-border;
    border-radius: 0px 0px 40px 40px;
  }
  
  i,
  b {
    z-index: 1000;
    position: absolute;
    display: block;
    color: transparent;
  }
  
  // speaker
  i {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: $color-speaker-camera;
    border-radius: 8px;
    box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
  }
  
  // camera
  b {
    left: 10%;
    top: 0px;
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: $color-speaker-camera;
    border-radius: 12px;
    box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
    
    &:after {
      content: '';
      position: absolute;
      background-color: $color-camera-lens;
      width: 6px;
      height: 6px;
      top: 2px;
      left: 2px;
      top: 3px;
      left: 3px;
      display: block;
      border-radius: 4px;
      box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
    }
  }

  &__lock-button {
    position: absolute;
    top: 190px;
    right: -150px;

    button {
      cursor: pointer;
    }
  }

  &__screen {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-image: url('./assets/images/lockscreen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    padding-top: 40px;
    box-sizing: border-box;

    &--locked {
      opacity: 0;
    }

    &::after {
      content: "Orange";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.8rem;
      padding-top: 0.75rem;
      padding-left: 1.5rem;
    }

    &::before {
      content: "4G";
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.8rem;
      padding-top: 0.75rem;
      padding-right: 1.5rem;
    }
  }
}

// Vibration keyframe
@keyframes vibrate {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-5px, 0) rotate(1deg);
  }
  40% {
    transform: translate(0, 0) rotate(-1deg);
  }
  60% {
    transform: translate(-5px, 0) rotate(1deg);
  }
  80% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
